@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Chào mừng đến với EasyReader</h1>
    <p>Chứa đựng hàng nghìn ấn phẩm với đủ các thể loại</p>
</div>
